//! **************************************************************************
// Written by: Map P.20131013 on Sun Jun 23 14:59:07 2024
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

